Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/ExeTrianglePP.cpp
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/ExeTrianglePP.vcxproj
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/ExeTrianglePP.vcxproj.filters
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/ExeTrianglePP.vcxproj.user
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.log
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.obj
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.tlog/CL.command.1.tlog
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.tlog/CL.read.1.tlog
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.tlog/CL.write.1.tlog
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.tlog/ExeTrianglePP.lastbuildstate
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.tlog/link.command.1.tlog
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.tlog/link.read.1.tlog
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/ExeTrianglePP.tlog/link.write.1.tlog
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/vc141.idb
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Debug/vc141.pdb
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Release/ExeTrianglePP.log
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Release/ExeTrianglePP.tlog/CL.command.1.tlog
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Release/ExeTrianglePP.tlog/ExeTrianglePP.lastbuildstate
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Release/ExeTrianglePP.tlog/unsuccessfulbuild
Source/_externalLibs/TrianglePP-master/ExeTrianglePP/x64/Release/vc141.pdb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/tpp_assert.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/tpp_impl.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.exe
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.idb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.ilk
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.lib
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.log
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.pdb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/CL.command.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/CL.read.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/CL.write.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/Lib-link.read.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/Lib-link.write.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/Lib.command.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/link.command.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/link.read.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/link.write.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/TrianglePP.tlog/TrianglePP.lastbuildstate
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/trpp_example.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/vc141.idb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/Debug/vc141.pdb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/dpoint.hpp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/LICENCE.txt
Source/_externalLibs/TrianglePP-master/TrianglePP-master/README.md
Source/_externalLibs/TrianglePP-master/TrianglePP-master/tpp_assert.cpp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/tpp_assert.hpp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/tpp_impl.cpp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/tpp_interface.hpp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/triangle.h
Source/_externalLibs/TrianglePP-master/TrianglePP-master/triangle_impl.hpp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/TrianglePP.vcproj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/TrianglePP.vcxproj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/TrianglePP.vcxproj.filters
Source/_externalLibs/TrianglePP-master/TrianglePP-master/TrianglePP.vcxproj.user
Source/_externalLibs/TrianglePP-master/TrianglePP-master/trpp_example.cpp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/UpgradeLog.htm
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/ExeTrianglePP.exe
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/ExeTrianglePP.ilk
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/ExeTrianglePP.pdb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/tpp_assert.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/tpp_impl.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.idb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.lib
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.log
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.pdb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.tlog/CL.command.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.tlog/CL.read.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.tlog/CL.write.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.tlog/Lib-link.read.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.tlog/Lib-link.write.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.tlog/Lib.command.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/TrianglePP.tlog/TrianglePP.lastbuildstate
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Debug/trpp_example.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/tpp_assert.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/tpp_impl.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.Build.CppClean.log
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.exe
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.exp
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.iobj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.ipdb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.lib
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.log
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.pdb
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/CL.command.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/CL.read.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/CL.write.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/link.command.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/link.read.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/link.write.1.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/TrianglePP.lastbuildstate
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/TrianglePP.tlog/TrianglePP.write.1u.tlog
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/trpp_example.obj
Source/_externalLibs/TrianglePP-master/TrianglePP-master/x64/Release/vc141.pdb
Source/_externalLibs/TrianglePP/Libraries/TrianglePP_old.lib
Source/_externalLibs/TrianglePP-master.zip
